<?php
/**
 * @var $this Scommerce_UniversAlanalytics_Block_Ga
 */
?>
<?php $helper = Mage::helper('scommerce_universalanalytics');
if($helper->isEnabled()): 
$bLinker = ($helper->isLinkerEnabled() && strlen($helper->getDomainsToLink())>0);
$userId = Mage::getSingleton('customer/session')->getCustomer()->getId();
$optimizeId = $helper->getOptimizeID();
?>
<?php if ($helper->isOptimizeEnabled()):?> 
<!-- Page hiding snippet (recommended) -->
<style>.async-hide { opacity: 0 !important}</style>
<script data-footer-js-skip="true">
(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);
})(window,document.documentElement,'async-hide','dataLayer',2000,{'<?php echo $optimizeId;?>':true});
</script>
<?php endif;?>
<script data-footer-js-skip="true" type="text/javascript">
//<![CDATA[
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', '<?php echo $helper->getAccountId(); ?>', '<?php echo $this->getMainDomain() ?>'<?php if ($bLinker): echo ", {'allowLinker': true}"; endif;?>);
<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
ga('create', '<?php echo $helper->getLinkedAccountId()?>', {'name':'<?php echo $helper->getLinkedAccountName()?>'});
<?php endif;?>
<?php if ($helper->isOptimizeEnabled()):?>
ga('require', '<?php echo $optimizeId?>');
<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
ga('<?php echo $helper->getLinkedAccountName()?>.require', '<?php echo $optimizeId?>');
<?php endif;?>
<?php endif;?>

<?php if ($helper->isEnhancedEcommerceEnabled()):?>
ga('require', 'ec');
<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
ga('<?php echo $helper->getLinkedAccountName()?>.require', 'ec');
<?php endif;?>
//console.log('ec enabled');
<?php endif;?>
<?php if ($helper->isUserIdEnabled() && strlen($userId)):?>
ga('set', '&uid', '<?php echo $userId?>'); // Set the user ID using signed-in user_id.
<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
ga('<?php echo $helper->getLinkedAccountName()?>.set', '&uid','<?php echo $userId?>');// Set the user ID using signed-in user_id.
<?php endif;?>
<?php endif;?>
<?php if ($helper->isDisplayFeature()):?>
ga('require', 'displayfeatures');
<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
ga('<?php echo $helper->getLinkedAccountName()?>.require', 'displayfeatures');
<?php endif;?>
<?php endif;?>
<?php if ($bLinker):?>
ga('require', 'linker');
ga('linker:autoLink', [<?php echo $helper->getDomainsToLink()?>]);
<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
ga('<?php echo $helper->getLinkedAccountName()?>.require', 'linker');
ga('<?php echo $helper->getLinkedAccountName()?>.linker:autoLink', [<?php echo $helper->getDomainsToLink()?>]);
<?php endif;?>
<?php endif;?>
<?php if ($helper->isAnonymizeIp()):?>
ga('set', 'anonymizeIp', true);
<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
ga('<?php echo $helper->getLinkedAccountName()?>.set', 'anonymizeIp', true);
<?php endif;?>
<?php endif;?>
<?php if ($this->getPageType()=="other"):
echo $this->getLayout()
			->createBlock('scommerce_universalanalytics/sendview')
			->setEventLabel('')
			->setTemplate('scommerce/universalanalytics/sendview.phtml')
			->toHtml();
endif;?>
<?php if($this->isEcommerce() && !$helper->isEnhancedEcommerceEnabled()): ?>
    ga('require', 'ecommerce', 'ecommerce.js');
	<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
	ga('<?php echo $helper->getLinkedAccountName()?>.require', 'ecommerce', 'ecommerce.js');
	<?php endif;?>
    <?php $order = $this->getOrder();
	if ($helper->sendBaseData()):
		$orderCurrency 		= $order->getBaseCurrencyCode();
		$orderGrandTotal 	= $order->getBaseGrandTotal();
		$orderShippingTotal	= $order->getBaseShippingAmount();
		$orderTax			= $order->getBaseTaxAmount();
	else:
		$orderCurrency 		= $order->getOrderCurrencyCode();
		$orderGrandTotal 	= $order->getGrandTotal();
		$orderShippingTotal	= $order->getShippingAmount();
		$orderTax			= $order->getTaxAmount();
	endif;
	?>
    ga('set', 'currencyCode', '<?php echo $orderCurrency;?>');
    ga('ecommerce:addTransaction', { 'id': '<?php echo $order->getIncrementId()?>', 'affiliation': '<?php echo $order->getAffiliation() ?>', 'revenue': '<?php echo $orderGrandTotal?>', 'shipping': '<?php echo $orderShippingTotal?>', 'tax': '<?php echo $orderTax?>'});
	<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
	ga('<?php echo $helper->getLinkedAccountName()?>.set', 'currencyCode', '<?php echo $orderCurrency;?>');
	ga('<?php echo $helper->getLinkedAccountName()?>.ecommerce:addTransaction', { 'id': '<?php echo $order->getIncrementId()?>', 'affiliation': '<?php echo $order->getAffiliation() ?>', 'revenue': '<?php echo $orderGrandTotal?>', 'shipping': '<?php echo $orderShippingTotal?>', 'tax': '<?php echo $orderTax?>'});
	<?php endif;?>
    <?php foreach($order->getAllItems() as $item): ?>
    <?php if($item->getParentItemId()) continue; ?>
    ga('ecommerce:addItem', {'id': '<?php echo $order->getIncrementId() ?>', 'name': '<?php echo $this->jsQuoteEscape($item->getName()) ?>', 'sku': '<?php echo $this->jsQuoteEscape($item->getSku()) ?>', 'category': '<?php echo $this->jsQuoteEscape($item->getCategory()) ?>', 'price': '<?php echo ($helper->sendBaseData()==true ? $item->getBasePrice() : $item->getPrice()) ?>', 'quantity': '<?php echo $item->getQtyOrdered() ?>'});
	<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
	ga('<?php echo $helper->getLinkedAccountName()?>.ecommerce:addItem', {'id': '<?php echo $order->getIncrementId() ?>', 'name': '<?php echo $this->jsQuoteEscape($item->getName(), '"') ?>', 'sku': '<?php echo $this->jsQuoteEscape($item->getSku()) ?>', 'category': '<?php echo $this->jsQuoteEscape($item->getCategory()) ?>', 'price': '<?php echo ($helper->sendBaseData()==true ? $item->getBasePrice() : $item->getPrice()) ?>', 'quantity': '<?php echo $item->getQtyOrdered() ?>'});
	<?php endif;?>
    <?php endforeach;?>
    ga('ecommerce:send');
	<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
	ga('<?php echo $helper->getLinkedAccountName()?>.ecommerce:send');
	<?php endif;?>
<?php endif;?>
//]]>
</script>
<?php if ($helper->isEnhancedEcommerceEnabled() && !$this->isEcommerce()): ?>
<script>
//<![CDATA[
function manipulationOfCart(product, type, list) {
	if (list == undefined){
		list='Category - '+ product.category
	}
	//console.log(list);
	ga('ec:addProduct', {
        'id': product.id,
        'name': product.name,
        'category': product.category,
        'brand': product.brand,
        'variant': product.variant,
        'price': product.price,
		'list': list,
        'quantity': product.qty
    });
	
    ga('ec:setAction', type, {list: list});
	
	<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
	ga('<?php echo $helper->getLinkedAccountName()?>.ec:addProduct', {
        'id': product.id,
        'name': product.name,
        'category': product.category,
        'brand': product.brand,
        'variant': product.variant,
        'price': product.price,
		'list': list,
        'quantity': product.qty
    });

    ga('<?php echo $helper->getLinkedAccountName()?>.ec:setAction', type, {list: list});
	<?php endif;?>

    if (type == 'add'){
		<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
		ga('<?php echo $helper->getLinkedAccountName()?>.send', 'event', 'UX', 'click', 'Add To Cart - ' + product.name + ' - ' + product.id, {'nonInteraction': 1});
		<?php endif;?>
        ga('send', 'event', 'UX', 'click', 'Add To Cart - ' + product.name + ' - ' + product.id, {'nonInteraction': 1});
    }
    else if (type == 'remove'){
		<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
		ga('<?php echo $helper->getLinkedAccountName()?>.send', 'event', 'UX', 'click', 'Remove From Cart - ' + product.name + ' - ' + product.id, {'nonInteraction': 1});
		<?php endif;?>
        ga('send', 'event', 'UX', 'click', 'Remove From Cart - ' + product.name + ' - ' + product.id, {'nonInteraction': 1});
    }
}

jQuery(document).ready(function($){
    cookie = getTrafficSrcCookie();
	if (cookie!=null || cookie!= undefined){
		Mage.Cookies.set("utmz",'utmcsr='+cookie.ga_source+'|utmccn='+cookie.ga_campaign+'|utmcmd='+cookie.ga_medium+'|utmctr='+cookie.ga_keyword+'|utmcct='+cookie.ga_content+'|utmgclid='+cookie.ga_gclid);
	}
	
	<?php $addedProduct = Mage::getModel('core/session')->getProductToBasket();
	if ($addedProduct):?>
	var productToBasket = <?php echo $addedProduct?>;
	var productlist = Mage.Cookies.get("productlist");

    if (productToBasket != undefined){
        //console.log(productToBasket);
        manipulationOfCart(productToBasket, 'add', productlist);
		Mage.Cookies.clear("productlist");
		Mage.Cookies.clear("googlecategory");
    }
	<?php Mage::getModel('core/session')->unsProductToBasket();
	endif;?>
	
    <?php $removedProduct = Mage::getModel('core/session')->getProductOutBasket();
	if ($removedProduct):?>
	var productOutBasket = <?php echo $removedProduct?>;

    if (productOutBasket != undefined){
        manipulationOfCart(productOutBasket, 'remove', '');
    }
	<?php Mage::getModel('core/session')->unsProductOutBasket();
	endif;?>
});
//]]>
</script>
<?php endif; ?>
<?php endif; ?>