<?php
/**
 * @var $this Scommerce_UniversalAnalytics_Block_Impression
 */
?>
<?php
$helper = Mage::helper('scommerce_universalanalytics');
$_JsProducts = $this->getJsProducts();
$_JsProductUrls = $this->getJsProductUrls();
$_clickLabel = $this->getclickLabel();
$_pageView = $this->getPageView();

if (!$helper->isEnabled() || !$helper->isEnhancedEcommerceEnabled() || (($_JsProducts=="[]"))) return;?>

<script type='text/javascript'>
    //<![CDATA[
    var jsProducts<?php echo $_pageView?> = <?php echo $_JsProducts ?>;
    var jsProductUrls<?php echo $_pageView?> = <?php echo $_JsProductUrls ?>;
    var jsClickLabel<?php echo $_pageView?> = '<?php echo $_clickLabel?>';
	
	<?php if ((strtolower($_pageView)!="related") && (strtolower($_pageView)!="upsell")):?>
	Mage.Cookies.clear("productlist");
	Mage.Cookies.clear("googlecategory");
	<?php endif;?>
	
    jsProducts<?php echo $_pageView?>.each(function(product, index){
        ga('ec:addImpression', {
            'id': product.id,
            'name': product.name,
            'category': product.category,
            'brand': product.brand,
            'list': product.list,
            'position': product.position
        });
    });
	
	<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
	jsProducts<?php echo $_pageView?>.each(function(product, index){
        ga('<?php echo $helper->getLinkedAccountName()?>.ec:addImpression', {
            'id': product.id,
            'name': product.name,
            'category': product.category,
            'brand': product.brand,
            'list': product.list,
            'position': product.position
        });
    });	
	<?php endif;
	
	if ((strtolower($_pageView)!="related") && (strtolower($_pageView)!="upsell")):
		echo $this->getLayout()
				->createBlock('scommerce_universalanalytics/sendview')
				->setEventLabel($_clickLabel)
				->setTemplate('scommerce/universalanalytics/sendview.phtml')
				->toHtml();

	endif;?>
    //]]>
</script>

<script type='text/javascript'>
    //<![CDATA[
    jQuery('a').on('click', function(e){
        var product;
        var href = jQuery(this).attr('href');
        var index = jsProductUrls<?php echo $_pageView?>.indexOf(href);
		if (index==-1) return;
        if (index != -1 && window.ga && ga.loaded){
            e.preventDefault();
			
            product = jsProducts<?php echo $_pageView?>[index];
            ga('ec:addProduct', {
                'id': product.id,
                'name': product.name,
                'category': product.category,
                'brand': product.brand,
                'position': product.position
            });

            ga('ec:setAction', 'click', {list: product.list});
			
			Mage.Cookies.set('productlist', product.list);
			<?php if ((strtolower($_pageView)!="related") && (strtolower($_pageView)!="upsell")):?>
			Mage.Cookies.set('googlecategory', product.category);
			<?php endif;?>
			//Need to send this data before calling call back for initial click
			<?php if (strlen($helper->isLinkAccountsEnabled())>0):?>
			ga('<?php echo $helper->getLinkedAccountName()?>.ec:addProduct', {
                'id': product.id,
                'name': product.name,
                'category': product.category,
                'brand': product.brand,
                'position': product.position
            });

            ga('<?php echo $helper->getLinkedAccountName()?>.ec:setAction', 'click', {list: product.list});
			
			ga('<?php echo $helper->getLinkedAccountName()?>.send', 'event', 'UX', 'click', jsClickLabel<?php echo $_pageView?> + ' Click - ' + product.name + ' - ' + product.id, {'nonInteraction': 1});
			<?php endif;?>
			
            ga('send', 'event', 'UX', 'click', jsClickLabel<?php echo $_pageView?> + ' Click - ' + product.name + ' - ' + product.id , {'nonInteraction': 1,                
				'hitCallback' : function() {
                    if (!(e.ctrlKey || e.which==2)){
						document.location = href;
					}
                }
            });
        }
		else{
			document.location = href;
		}
    });
    //]]>
</script>