<?php
/**
 *
 * @var $this Scommerce_Universalanalytics_Block_New
 */
?>

<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
	<h2 class="subtitle"><?php echo $this->__('New Products') ?></h2>
	<?php $_columnCount = $this->getColumnCount(); ?>
    <ul class="products-grid products-grid--max-<?php echo $_columnCount; ?>-col">
    <?php $i=0; foreach ($_products->getItems() as $_product): ?>
        <?php /*if ($i++%$_columnCount==0): ?>
        <ul class="products-grid">
        <?php endif*/ ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>" class="product-image">
                    <?php $_imgSize = 260; ?>
                    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                </a>
                <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName()) ?></a></h3>
                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                <?php echo $this->getPriceHtml($_product, true, '-new') ?>
                <div class="actions">
                    <?php if($_product->isSaleable()): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                    <ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->getAddToWishlistUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                        <?php endif; ?>
                    </ul>
                </div>
            </li>
        <?php /*if ($i%$_columnCount==0 || $i==count($_products)): ?>
        </ul>
        <?php endif*/ ?>
    <?php endforeach; ?>
    </ul>	
	<?php
	$helper = Mage::helper('scommerce_universalanalytics');
	if (!$helper->isEnabled() || !$helper->isEnhancedEcommerceEnabled()) return; 

	$_impressionList = 'New Products';
	$_categoryName = $_impressionList;
	//$_clickLabel   = 'Listing';

	$_loop = 1;

	foreach ($_products as $_product){
		$_product = Mage::getModel('catalog/product')->load($_product->getData('entity_id'));
		$_productUrls[] = $_product->getProductUrl();

		$_productData[] = array(
			'id' => $this->jsQuoteEscape($_product->getSku()),
			'name'  => $this->jsQuoteEscape($_product->getName()),
			'category' => $this->jsQuoteEscape($helper->getProductCategoryName($_product)),
			'brand' => $this->jsQuoteEscape($helper->getBrand($_product)),
			'list'  => $_impressionList,
			'position' => $_loop
		);

		$_loop++;
	}

	$_JsProducts = json_encode($_productData);
	$_JsProductUrls = json_encode($_productUrls);
	
	echo $this->getLayout()
			->createBlock('scommerce_universalanalytics/impression')
			->setJsProducts($_JsProducts)
			->setJsProductUrls($_JsProductUrls)
			->setclickLabel($_impressionList)
			->setPageView('New')
			->setTemplate('scommerce/universalanalytics/impression.phtml')
			->toHtml();
			
endif; ?>